#Makefile
Makefile

#deps
.deps

autom4te.cache

include/config.h
config.h.in~

*.log
*.status
*.o
*.so
*.a
src/zabbix_agent/zabbix_agent
src/zabbix_agent/zabbix_agentd
src/zabbix_get/zabbix_get
src/zabbix_sender/zabbix_sender
